.footer {
    position: relative;
    height: 630px;
    &__info {
        width: 460px;
        height: 270px;
        background-color: #c70101;
        padding: 50px 68px 60px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__addr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        line-height: 20px;
        margin-bottom: 36px;

    }
    &__phone {
        display: block;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        line-height: 20px;
        margin-bottom: 36px;

    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__social_item {
        display: flex;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        margin:0 15px;
      
    }
}